html {
    font-family: sans-serif;
  }
  
.tableP {
  border-collapse: collapse;
  letter-spacing: 1px;
  font-size: 0.8rem;
}

.tableP td,.tableP th {
  border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
}
  
.tableP th {
  background-color: rgb(234, 231, 238);
}
  
.tableP td {
  text-align: right;
}
  
.tableP input, .tableP textarea {
  border: 2px solid black;
  border-radius: 4px;
} 
  caption {
    padding: 10px;
  }

  .btn {
    border: none;
    background-color: inherit;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }
  
  /* Green */
  .success {
    color: green;
  }
  
  .success:hover {
    background-color: #04AA6D;
    color: white;
  }

  /* Red */
.danger {
    color: red;
  }
  
  .danger:hover {
    background: #f44336;
    color: white;
  }

  /* Orange */
.warning {
    color: orange;
  }
  
  .warning:hover {
    background: #ff9800;
    color: white;
  }

  .sch-title-big{
    font-size: 50px;
  }

  @media (max-width: 767px) {
    .tableP {
      width:90%;
    }
    .tableP thead{
      display: none;
    }
    .tableP tbody, .tableP tr, .tableP td {
      display: block;
      width: 100%;
    }
    .tableP tr{
      margin-bottom: 20px;
      background-color: aliceblue;
    }
    .tableP td:first-child{
      padding-top: .5em;
    }
    .tableP td:last-child{
      padding-bottom: .5em;
    }
    .tableP td:before{
      content: attr(data-th);
      font-weight: bold;
      width: 6.5em;
      display: inline-block;
    }
  }