.tableB {
  border-collapse: collapse;
  letter-spacing: 1px;
  font-size: 0.8rem;
}

.tableB td,.tableB th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}
  
.tableB th {
  background-color: rgb(235,235,235);
}
  
.tableB td {
  text-align: right;
}
.tableB input, .tableB textarea {
  border: 2px solid black;
  border-radius: 4px;
} 

.tableB .dis input {
    width:50%;
}
caption {
  padding: 10px;
}
.btn {
  border: none;
  background-color: inherit;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

/* Green */
.success {
  background-color: #0f0f0d;
  color: rgb(6, 250, 6);
}

.success:hover {
  background-color: #04AA6D;
  color: rgb(145, 230, 145);
}

/* Red */
.danger {
  color: red;
}

.danger:hover {
  background: #f44336;
  color: white;
}

/* Orange */
.warning {
  color: orange;
}

.warning:hover {
  background: #ff9800;
  color: white;
}

.save {
font-size: 50px;
}

@media (max-width: 767px) {
  .tableB {
    width:90%;
  }
  .tableB thead{
    display: none;
  }
  .tableB tbody, .tableB tr, .tableB td {
    display: block;
    width: 100%;
  }
  .tableB tr{
    margin-bottom: 20px;
    background-color: aliceblue;
  }
  .tableB td:first-child{
    padding-top: .5em;
  }
  .tableB td:last-child{
    padding-bottom: .5em;
  }
  .tableB td:before{
    content: attr(data-th);
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
  }
}