.header {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgb(255, 255, 255);
    width:100%;
    height: 100px;
    text-align: center;
    font-size: 500px;
}

.title{
    /* background-color: rgb(225, 225, 225); */
    /* width:100%; */
    padding-top: 20px;
    font-size: 40px;
    margin-right: 80px;
}
.header img{
  display: block;
  margin: 0 auto;
}
.groupToForm{
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    /* background-color:darksalmon; */
    position: relative;
    margin: 0 auto;
    padding-bottom: 100px;
}
.from, .to {
    text-align: right;
    font-size: 20px;
    
}
.from{
  padding-right: 100px;
}
.from h1, .to h1 {
    font-weight: bold;
    /* width:auto; */
}



.tableBS td,.tableBS th {
  /* border: 1px solid rgb(190,190,190); */
  padding: 10px 20px;
  font-weight: bold;
  
}
p {
  width: 300px;
}
.tableBS {
  position: relative;
  margin: 0 auto;
}
.tableBS th {
  background-color: rgb(235,235,235);
}
  
.tableBS th {
  text-align: right;
}
.tableBS td {
  /* text-align: center; */
  border-collapse: collapse;
  
}

.titles {
  border-bottom: 1px solid black;
}

.line{border-top: 1px solid black;}

.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 32px;
    cursor: pointer;
    display: inline-block;
  }
  
  /* Green */
  .success {
    background-color: #0f0f0d;
    color: rgb(6, 250, 6);
  }
  
  .success:hover {
    background-color: #04AA6D;
    color: rgb(145, 230, 145);
  }

  .dates{
    margin-top:10px;
    margin-left: 110px;
    font-size: 40px;
    font-weight: bold;

  }
  .dateT{
    padding-top: 10px;
    padding-bottom: 20px;
    
  }

  .Doc{
    direction: "ltr";
    /* margin: 0 auto ; */
  }

  .footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .footer p{
    background-color: rgb(243, 233, 233);
    font-size: 30px;
    width: 100%;
    color: rgb(12, 7, 7);
    text-align: center;
  }